<h1>{{ 'score.title' | transloco }}</h1>

<div class="url">http://guilloy.fr/civ/{{ gameSlug }}</div>

<div *ngFor="let player of players" class="civilization_ranking box">
  <a routerLink="player/{{ player.id }}/{{ player.username }}">
    <h3 class="civilization_{{ player.civilization }}">
      <span class="username">{{ player.username }}</span>
      <span class="civilization">{{ 'civilizations.' + player.civilization.toString().toLowerCase() | transloco }}</span>
    </h3>
    <p>{{ 'score.points' | transloco: { 'score': player.score } }}</p>
  </a>
</div>

<app-button routerLink="add-player">
  {{ 'score.add-player' | transloco }}
</app-button>
