<h1>Tableau des scores</h1>

<p class="share_link">
  Lien de partage :
</p>
<div class="url">http://guilloy.fr/civ/{{ gameSlug }}</div>

<div *ngFor="let player of players" class="civilization_ranking box">
  <a routerLink="player/{{ player.id }}/{{ player.username }}">
    <h3 class="civilization_{{ player.civilization }}">
      <span class="username">{{ player.username }}</span>
      <span class="civilization">{{ civilizationToString(player.civilization) }}</span>
    </h3>
    <p>{{ player.score }} points</p>
  </a>
</div>

<app-button routerLink="add-player">
  Ajouter un joueur
</app-button>
