<h1>{{ 'add-player.title' | transloco: { 'gameSlug': gameSlug } }}</h1>

<form [formGroup]="formGroup">
  <div class="form_input">
    <label>{{ 'add-player.username' | transloco }}</label>
    <input formControlName="username" name="username" type="text" />
  </div>
  <div class="form_input">
    <label>{{ 'add-player.civilization' | transloco }}</label>
    <select formControlName="civilization" name="civilization">
      <option *ngFor="let civilization of Civilization" [value]="civilization">
        {{ 'civilizations.' + civilization.toLowerCase() | transloco }}
      </option>
    </select>
  </div>

  <app-button (click)="addPlayer()">{{ 'add-player.add' | transloco }}</app-button>
</form>
