body {
  box-sizing: border-box;
  font-family: 'Noto Sans', sans-serif;
  font-size: 2vh;
}

h1 {
  text-align: center;
}

h2 {
  color: #6c5402;
}

h2:after {
  content: '';
  display: block;
  background-color: #6c5402;
  height: 0.1em;
}



