<app-button routerLink="../../..">
  {{ 'player.back-to-game' | transloco }}
</app-button>

<h1>{{ 'player.title' | transloco: { 'username': username } }}</h1>

<h2>{{ 'player.cards-in-hand' | transloco }}</h2>

<div *ngFor="let card of boughtCards" class="civilization_card box">
  <div (click)="card.showDetails = !card.showDetails" class="header category_{{ card.cardType }}">
    <p class="card_name">{{ 'civ-cards.' + card.cardName | transloco }}</p>
    <p class="card_value">{{ card.faceValue }}</p>
  </div>
  <div *ngIf="card.showDetails === true">
    <p class="card_requires" *ngIf="card.requires !== null">{{ 'player.card-requires' | transloco: { 'required': ('civ-cards.' + card.requires | transloco) } }}</p>
    <p class="card_description" [innerHTML]="'civ-cards-rule.' + card.cardName | transloco"></p>
  </div>
  <div (click)="removeCard(card)" class="action">{{ 'player.remove-from-hand' | transloco }}</div>
</div>

<h2>{{ 'player.available-cards' | transloco }}</h2>

<app-button (click)="validatePurchase()" class="button">
  {{ 'player.validate' | transloco }}
</app-button>

<div *ngFor="let card of cardsToBuy" class="civilization_card box">
  <div (click)="card.showDetails = !card.showDetails" class="header category_{{ card.cardType }}">
    <p class="card_name">{{ 'civ-cards.' + card.cardName | transloco }}</p>
    <p class="card_value">{{ card.price }} / {{ card.faceValue }}</p>
  </div>
  <div *ngIf="card.showDetails === true">
    <p class="card_requires" *ngIf="card.requires !== null">{{ 'player.card-requires' | transloco: { 'required': ('civ-cards.' + card.requires | transloco) } }}</p>
    <p class="card_description" [innerHTML]="'civ-cards-rule.' + card.cardName | transloco"></p>
  </div>
  <div (click)="card.status = CardStatus.SELECTED" *ngIf="card.status === CardStatus.UNSELECTED" class="action">
    {{ 'player.select' | transloco }}
  </div>
  <div (click)="card.status = CardStatus.UNSELECTED" *ngIf="card.status === CardStatus.SELECTED" class="action">
    {{ 'player.deselect' | transloco }}
  </div>
</div>

<div class="checkout">
  {{ 'player.checkout-total' | transloco }} {{ checkoutTotal }}
</div>

<app-button (click)="validatePurchase()" class="button">
  {{ 'player.validate' | transloco }}
</app-button>

