.civilization_card {
  margin: 1rem 0;
  border: 1px solid black;
  border-radius: 0.5rem;
  position: relative;
  background-color: white;
  box-shadow: 2px 2px 5px 0 #a0a0a0;
}

.civilization_card .header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
}

.civilization_card .header p {
  margin: 0;
}

.action {
  padding: 0.5rem;
  text-align: center;
  text-decoration: underline;
}

.checkout {
  margin: 0.5rem;
  font-weight: bold;
}

.category_CRAFT {
  background-color: #ec7c31;
}

.category_SCIENCE {
  background-color: #abc818;
}

.category_ART {
  background-color: #3d7fd3;
}

.category_RELIGION {
  background-color: #ffcc00;
}

.category_CIVIC {
  background-color: #d40000;
}

.category_SCIENCE_ART {
  background: linear-gradient(to right, #abc818 0%, #abc818 50%, #3d7fd3 50%, #3d7fd3 100%);
}

.category_CRAFT_SCIENCE {
  background: linear-gradient(to right, #ec7c31 0%, #ec7c31 50%, #abc818 50%, #abc818 100%);
}

.category_ART_RELIGION {
  background: linear-gradient(to right, #3d7fd3 0%, #3d7fd3 50%, #ffcc00 50%, #ffcc00 100%);
}

.category_ART_CIVIC {
  background: linear-gradient(to right, #3d7fd3 0%, #3d7fd3 50%, #d40000 50%, #d40000 100%);
}
